$bg: white;
$bg-dark-01: #282a36;
$bg-dark-02: #1d1f27;
$bg-dark-03: #44475a;

$brand: #538e46;
$success: #538e46;
$warning: #ffb86c;
$danger: #ff5555;
$change: #6272a4;

$foreground: #f8f8f2;

$white: #ffff;
$black: #212121;

$form-icon-bg: #e9ecef;
$form-border: #ced4da;
$form-text: #495057;
